html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: grid;
  place-items: center;
}

canvas {
  display: block;
}

.compteur{
  display: flex;
  font-size: larger;
  align-items: center;
  justify-content: center;
}

.coin{
  width: 2rem;
  height: 2rem;
}